* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}
:root {
}

#toolbar {
  padding: 10px;
  position: absolute;
  background-color: #222222;
  display: flex;
  gap: 10px;
  color: #ffffff;
  bottom: 3%;
  border-radius: 6px;
  left: 50%;
  transform: translate(-50%, -30%);
  z-index: 999999999999999999999999;
}

#toolbar button {
  padding: 4px;
  border-radius: 4px;
  border: none;
  background: #fff;
}

#editor {
  display: flex;
  height: 100vh;
}

#layersPanel,
#propertiesPanel {
  width: 200px;
  background-color: #f0f0f0;
  padding: 10px;
}

#canvas {
  flex: 1;
  background-color: #dddddd;
  position: relative;
  overflow: hidden;
}

.element {
  cursor: pointer;
}
.element::selection {
  background-color: #c7c7c7;
}
.element.selected {
  outline: 2px solid #2563ed;
  outline-offset: 2px;
}

.resize-handle {
  width: 8px;
  height: 8px;
  background-color: #2563eb;
  position: absolute;
}

.text-content {
  width: 100%;
  height: 100%;
  outline: none;
  cursor: text;
}
.handle-tl {
  top: -4px;
  left: -4px;
  cursor: nwse-resize;
}

.handle-tr {
  top: -4px;
  right: -4px;
  cursor: nesw-resize;
}
.handle-bl {
  bottom: -4px;
  left: -4px;
  cursor: nesw-resize;
}
.handle-br {
  bottom: -4px;
  right: -4px;
  cursor: nwse-resize;
}

#propertiesPanel h3 {
  margin-bottom: 20px;
}
#layersPanel,
h3 {
  margin-bottom: 20px;
}

.prop-group {
  margin-bottom: 10px;
}
.prop-group label {
  display: block;
  font-size: 12px;
  margin-bottom: 4px;
}
.prop-group input {
  width: 100%;
  padding: 6px;
  border: none;
  border-radius: 4px;
}
.prop-group input:focus {
  outline: 1px solid #555555;
  /* outline: none; */
}

.prop-group #prop-color {
  padding: 0;
  height: 30px;
}

.text-content[contenteditable="true"] {
  outline: none;
  cursor: text;
}

#layers-list {
  padding: 5px;
}

/* .layer-item {
  padding: 6px 8px;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 4px;
  background: #eee;
  font-size: 13px;
} */

.layer-row.active {
  background: #5ab35a;
  color: white;
  border: 1px solid #c4c4c4;
}

.layer-row {
  display: flex;
  justify-content: space-between;
  padding: 6px 8px;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 4px;
  background: #eee;
  font-size: 13px;
}
.layer-row:hover {
  background: #ddd;
  color: #222222;
}

.delete-layer-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: red;
  font-weight: 500;
}
